.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;

  .lottieWrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
  }

  .lottieWrapperChildren {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    opacity: 50%;

    &:nth-of-type(2) {
      right: 0;
      left: initial;
    }
  }
}
